{% extends 'games/layout.html' %}

<!-- Baixando os arquivos estáticos -->
{% load static %}

{% block body %}
<div id="jogo">    
    <h1>{{ jogo.nome }}</h1>
    <div>
        
    </div>

    <table>
        <tr>
            <td>Data de Lançamento inicial:</td>
            <td>{{jogo.dataLancamento }}</td>
        </tr>
        <tr>
            <td>Desenvolvedor:</td>
            <td>{{jogo.desenvolvedor }}</td>
        </tr> 
            <td>Gêneros:</td>
            <td>
                <ul>
                    {% for genero in generos %}
                    <li>{{ genero }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr> 
            <td>Projetistas: </td>
            <td>{{ jogo.projetista }}</td>
        </tr>
        <td>Plataformas:</td>
            <td>
                <ul>
                    {% for plataforma in plataformas %}
                    <li>{{ plataforma }}</li>
                    {% endfor %}
                </ul>
            </td>
    </table>
</div>

{% endblock %}