{% extends "projeto/layout.html" %}
      
{% block body %}   
{% load static %}

<h4 style="text-align: center; margin-top: 30px;">COMENTÁRIOS</h4>

<P style="text-align: center;">Após realizar uma análise bastante completa do website em questão, é possível tirar as seguintes conclusões:</P>

<ul style="text-align: center;">
      <li>O site possui um aspecto pouco atrativo e com informação em excesso, o que torna a navegação confusa e não muito intuitiva.</li>
      <li>A página aparenta ser antiga e não receber manutenção com muita frequência, tornando erros e bugs aparentes ao usuário</li>
      <li>Apesar dos defeitos encontrados, a página se mostra ser bastante útil para seu nicho/área de atuação.</li>
      <li>Todas as informações fornecidas são precisas e com bastante embasamento teórico</li>

</ul>


{% endblock %}

