{% extends "projeto/layout.html" %}
{% load static %}       
{% block body %}   
<h4 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Grupo</h4>
<ul class="list-group" style="text-align: center;">
      <li class="list-group-item">Anderson David de Moura Junior
            <p></p><l1>RA:21500213</l1>
      </li>
      <li class="list-group-item">Antonio João da Silva Pereira
            <p></p><l1>RA:22051982</l1>
      </li>
      </li>
      <li class="list-group-item">Carlo Alexandre de Souza
            <p></p><l1>RA:218044073</l1>
      </li>
      <li class="list-group-item">Guilherme Augusto de Souza Dantas
            <p></p><l1>21952332</l1>
      </li>      
      <li class="list-group-item">Professor:
            <p></p><l1>Aderbal Botelho Leite Neto</l1>
      
{% endblock %}

