{% extends "projeto/layout.html" %}
{% load static %}       
{% block body %}   

      <h4 style="text-align: center; margin-top: 30px;">DESCRIÇÃO DO WEBSITE</h4>
      <img id="img_des_1" src="{% static 'web/imagens/foto4.jpg' %}">
      <p class= "T_des_main" style="margin-left: 400px; margin-right: 400px; margin-bottom: 400px;">Neste trabalho será realizada uma análise crítica do website da empresa inglesa ADVFN tendo como foco principal a página de investimentos em ações da bolsa de valores do Brasil, com cotações da Bovespa e BM&F.
            A página em questão fornece ao usuário os preços da bolsa de valores em tempo real, além de cotações, gráficos, negociações, notícias, fóruns e informações de dados financeiros. Podendo ser acessada a partir do endereço eletrônico: <a href= "https://br.advfn.com/bolsa-de-valores/bovespa">https://br.advfn.com/bolsa-de-valores/bovespa.</a>
      </p>
      <img id="img_des_2" src="{% static 'web/imagens/foto1.jpg' %}">

{% endblock %}

