{% extends "projeto/layout.html" %}
       
{% block body %}   

                     <div class="T_met_main_1">
                            <!--Inicio Tabela-->
                            <h2 id="n_tab_met_1">Cronograma de Execução das atividades</h2><p></p>
                                   <table class="table table-bordered" style="text-align: center;">
                                          <thead id="t_thead_met_1">
                                                 <th>Atividade</th>
                                                 <th>Resonsável</th>
                                                 <th>Status</th>
                                                 <th>Início</th>
                                                 <th>Término</th>
                                          </thead>
                                          <tbody id="t_body_met_1">
                                                 <td>Descrever o problema a ser abordado</td>
                                                 <td>Anderson</td>
                                                 <td>Concluido</td>
                                                 <td>29/09/2020</td>
                                                 <td>30/09/2020</td>


                                          </tbody>
                                          <tbody id="t_body_met_2">
                                                 <td>Topico 03</td>
                                                 <td>Guilherme</td>
                                                 <td>Concluido</td>
                                                 <td>03/10/2020</td>
                                                 <td>07/10/2020</td>


                                          </tbody>
                                          <tbody id="t_body_met_3">
                                                 <td>Topico 04</td>
                                                 <td>Antonio</td>
                                                 <td>Concluido</td>
                                                 <td>03/10/2020</td>
                                                 <td>07/10/2020</td>


                                          </tbody>
                                          <tbody id="t_body_met_4">
                                                 <td>Topico 02</td>
                                                 <td>Carlos</td>
                                                 <td>Concluido</td>
                                                 <td>05/10/2020</td>
                                                 <td>07/10/2020</td>


                                          </tbody>
                                          <tbody id="t_body_met_5">
                                                 <td>Topico 02 - Subitens 2.2.1, 2.2.2, 2.2.4</td>
                                                 <td>Anderson</td>
                                                 <td>Concluido</td>
                                                 <td>05/10/2020</td>
                                                 <td>05/10/2020</td>


                                          </tbody>
                                          <tbody id="t_body_met_6">
                                                 <td>Topico 05</td>
                                                 <td>Anderson</td>
                                                 <td>Concluido</td>
                                                 <td>05/10/2020</td>
                                                 <td>07/10/2020</td>


                                          </tbody>
                                   </table>
                            </div>
                            <!--Final da tabela-->

                            <!--Inicio do Texto-->
                            <div class="Tex_met_1">
                                   <h5 style="text-align: center;">Metodologia de registro das análises</h5>


                                   <table class="Table_des_1">
                                          <ol id="table_des_ol_1">
                                                <li><strong>Visão Geral</strong></li><p></p>
                                                
                                                      <ul>
                                                            <li>
                                                               O trabalho de avaliação do website foi realizado englobando conceitos diversos, desde a visão do usuário até o código fonte. Para a análise da navegação e interação da página com o usuário, foi utilizado um método de avaliação heurística tendo como foco alguns pontos principais:
                                                               <ul style="margin-top: 10px; margin-bottom: 10px;"> 
                                                                      <li>Visibilidade de status;</li>
                                                                      <li>Compatibilidade entre o site e o mundo real;</li>
                                                                      <li>Controle de liberdade para o usuário;</li>
                                                                      <li>Consistência e padronização;</li>
                                                                      <li>Prevenção de erros;</li>
                                                                      <li>Eficiência e flexibilidade;</li>
                                                                      <li>Estética e design minimalista;</li>
                                                                      <li>Ajuda e documentação.</li>

                                                               </ul>
                                                               Cada ponto é de suma importância para o sucesso ou fracasso de uma página web.
                                                            </li>
                                                      </ul><p></p>
                                                      <li><strong>Facilidades de Uso</strong></li>
                                                
                                                      <ul>
                                                            <li><p></p>
                                                               Para a avaliação da facilidade de uso, foi tido como ponto de partida a rapidez com que o usuário consegue encontrar o que deseja sem maiores dificuldades e com poucos cliques. Analisando características como linguagem, navegação, conteúdo e estrutura da página é possível fazer uma análise extremamente completa a respeito da usabilidade. 
                                                                  
                                                            </li>
                                                      </ul><p></p>
                                                      <li><strong>Lista de Features</strong></li>
                                                
                                                      <ul>
                                                            <li><p></p>
                                                               O principal serviço do site consiste em mostrar informações sobre o Bovespa, as ações e seus preços, além de gráficos correspondendo ao status atual do Bovespa no dia em que for acessado e  todo seu histórico.
                                                               É possível pesquisar sobre as ações mais detalhadamente e encontrar muitas informações sobre o histórico de preços e o preço atual, porcentagem de quanto subiu ou caiu, gráfico, notícias da ação e entre outros.
                                                        
                                                            
                                                            </li>
                                                      </ul><p></p>
                                                      <li><strong>Aplicação e Benefício</strong></li>
                                                
                                                      <ul>
                                                            <li><p></p>
                                                               Apesar dos vários pontos negativos analisados, o site se mostra bastante útil para pessoas que procuram informações financeiras a respeito da bolsa de valores não só do Brasil como do mundo todo. Todas as informações fornecidas são precisas e com bastante embasamento teórico. 
                                                            </li>
                                                      </ul><p></p>
                                                      <li><strong>Área/Nicho</strong></li>
                                                
                                                      <ul>
                                                            <li><P></P>
                                                               A partir de uma análise criteriosa a respeito dos serviços oferecidos pelo website, foi possível concluir que sua área/nicho de atuação é a de investimento e informações financeiras.
                                                                  
                                                            </li>
                                                      </ul>
                                                
                                          </ol>
                                    </table>
                            </div>
                            <!--Final Texto -->
                     </div> 

      </body>
{% endblock %}