{% extends "projeto/layout.html" %}
      
{% block body %}   
{% load static %}


<h4 style="text-align: center;margin-top: 30px;">Como Funciona um Website</h4>
<iframe style="margin-left: 28%;"width="700" height="394" src="https://www.youtube.com/embed/2rsI05vBsD4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<p></p>
<h4 style="text-align: center;">Gravação da apresentação</h4>
<iframe style="margin-left: 28%;" width="700" height="394" src="https://www.youtube.com/embed/ZhWmXnN6D3w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>



{% endblock %}

