/* header container */
.header-menu{
    background-color: black;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> */

/* wrapper containesr */
.wrapper {
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    top: 10px;
    height: 80px;
    
}

/* Navbar container */


#navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    position: relative;
    top: auto;
    right: 0;
    left: 0;
    
    
  }
  
  /* Links inside the navbar */

  #navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* ID main container */
.site-main{
    background-color:none;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;

}

/* article container */

.item-medium-colum {
    background-color: gray;
    text-align: center;
    position: relative;
    
}
article {
  display: block;
  position: relative;
  
}
body {
  text-rendering: optimizeLegibility;
  
}
.row{
  
}
#card_btn{
  background-color: black;
  border: solid black;
}

#content{
background-color: blue;
margin-top: 0;
position: relative;

}
.row{
  
  
} 

.row .col-sm-6{
  margin-top: 10px;
  margin-bottom: 10px;
}

.site {
background-color: blue;}